body {
    /*background-color: #6577C7; */
    background-color: #D5E4F7;
}

/* CSS Reset, make sure that page-head stays at top */
html, body {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

form:not(.link-form) {
    margin: 0 auto;
    width: 640px;
    padding: 1em;
}

.form-label {

    display: inline-block;
    width: 200px;
    text-align: right;
}

.form-field, textarea {
    font: 1em sans-serif;
    width 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

.form-field:focus {
    border-color: #000;
}

.form-button {
    margin-left: 200px;
    display: inline-block;
}

table{
    table-layout: fixed;
    /* border: 1px solid black; */
    margin: 0 auto;
}

th {
    background-color: grey;
}

.tid {
    width: 10%;
}

.ttitle {
    width: 80%;
}

.treplies {
    width: 10%;
}

.tuser {
    width: 15%;
    background-color: #A19EB9;
}

.tdetails {
    width: 85%;
    background-color:#bbd5e4;
    padding-left: 5px;
}

.post-table {
    width: 100%;
    margin-bottom: 8px;
    position: relative; /* to put quote but at bottom right *//
}

#post-reply-div {
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    display: inline;
}

.avatar-img {
    display: block;
    width: 60%;
    height: 60%;
    max-width: 120px;
    max-height: 120px;
}

.profile-img {
    display: block;
    width: 120px;
    height: 120px;
}
/*.tdetails { white-space: pre-wrap; } */

.post-table td {
    border-collapse: separate; /* allow spacing between cell borders */
    border-spacing: 0 5px;
}

.post-date, .post-num, .post-global-num {
    font-family: courier new;
    font-size: 14px;
}

.post-num {
    float: right;
}

.post-global-num {
    display: inline;
    color: #16531F;
    margin-left: 80px;
}

.thead, .post-num-data {
    font-weight: normal;
    border: 1px solid #464138;
    background-color: #666A7A;
}

.thead {
    width: 15%;
    border-right: 0;
}

.post-num-data {
    border-left: 0;
}

/* quotes */
.quotable {
    border: 0;
    padding: 6;
    border-spacing: 0;
    border-collapse: separate;
    width: 96%;
}

.qcls {
    border: 1px inset;
    background: #EDE8E0;
    width: 100%;
}

/* for entity table */
.entity-table {
    width: 100%;
    background: #FFFFFF;
}

.butDiv{
    position: absolute; /* depends on pos:relative of post-table */
    bottom: 0;
    right: 0;
}

.t-pm-sender, .t-pm-sendee {
    width: 20%;
}

.t-pm-subject {
    width: 60%;
}

.t-pm-sent {
    width: 14%;
}

.t-pm-check {
    width: 6%;
}

#mail-table {
    table-layout: auto;
}

#mail-table tr:hover {
    background-color: #E9EBF2;
}

#mail-table th {
    background-color: grey;
}

.mess-read {
    /*background-color: #3E57AB;*/
    background-color: #BDC1DD;
}


div h4 {
    display: inline;
}

.user-data {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
}

.mem-div {
    display: inline-block;

}

#mem-pane {
    float: left;
    position: relative;
    height: 100%;
    bottom:0;
    border-right: 1px solid black;
}

.mem-div a {
    text-decoration: none;
}

#inbox-table {
    width: 640px;
    background-color: #9BBBF0;
}

.div-mess {
    text-align: center;
    margin: 0 auto;
    border: 1px solid white;
    width: 80%;
    border-radius: 5px;
    background-color: white;
}

.attach-div {
    margin: 0px;
    padding: 0px;
}

.reported {
    background-color: red;
}


/* forum styles */
#forums-table {
    table-layout: auto;
    width: 90%;
}

.for-name {
    width: 80%;
}

.for-threads {
    width: 10%;
}

.for-row {
    padding-bottom: 100px;
}

#forum-title {
    text-align: center;
}

#navi-table {
    margin: 0 auto;
}
.navi-but {
    background-color: white;
    text-decoration: none;
}

.for-threads, .for-name {
    padding-bottom: 64px;
    background-color: white;
}

.thread-title-text, .page-num-text {
    text-align: center;
}

.mod-panel {
    margin-left: 0;
}

.thread-sticky {
    background-color: #FAEF54;
}

.thread-table {
    word-wrap: break-word;
    width: 80%;
}

.forum-link {
    margin-left: 0;
    text-decoration: None;
    background-color: #FC4A1A;
    color: white;
    padding: 10px 20px;
}

.forum-link:hover {
    background-color: #F7B733;
}

.logo-top {
    background: url(../site_images/kuf_banner.jpg) no-repeat top center;
    height: 90px;
    margin: 0 auto;
    display: block;
}

.page-head {
    background: transparent url(../site_images/bg.png) repeat-x;
    height: 90px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 95%;
    margin: 0 auto;
}
.user-toparea { 
    right: 2.5%;
    position: absolute;
    top: 41px;
    background-color: #8E8E8E;
    border-radius: 1px;
}
#case-pane {
    float: right;
    position: relative;
    right: 0;
    border-left: 1px solid black;
    height: 100%;
}

#case-table {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#image-pane, .mail-form{
    position: relative;
}


.mem-link {
    line-height: 26pt;
}

#stat-pane{
    top: 0;
    margin-left: 10%;
}

#image-pane {
    margin-left: 15%;
}

.mem-div-border {
    border-right: 1px solid black;
}


.pane-section {
    background-color: #C8C8C8;
}

.root-cont {
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: white;
    min-height: 100%;
}

.top-title {
    margin-top: 0;
    text-align: center;
}

.forum-cont {
    margin-left: 30%;
}
.big-but {
    background: #9ABDAC;;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 100px;
    text-align: center;
    width: 20%;
    margin-top: 10px;
}

.big-but:hover {
    background:#DFDCE3;
}

.mod-but {
    float: left;
}

.trophy img{
    width: 50%;
}

.page-foot {
    position:relative;
    bottom: 0;
    margin: 0 auto;
    margin-top: -15px;
    width: 95%;
    color: white;
    text-align: center;
    background-color: #233237;
    min-height: 80px;
}

.page-foot a:visited {
    color: white;
}

.login-form {
    border: 1px solid #A0BDCA;
}

