body {
    background-color: #6577C7;
}

form {
    margin: 0 auto;
    width: 640px;
    padding: 1em;
}

.form-label {

    display: inline-block;
    width: 200px;
    text-align: right;
}

.form-field, textarea {
    font: 1em sans-serif;
    width 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

.form-field:focus {
    border-color: #000;
}

.form-button {
    margin-left: 200px;
}

#username {
    float: right;
}


table {
    table-layout: fixed;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.tid {
    width: 10%;
}

.ttitle {
    width: 80%;
}

.treplies {
    width: 10%;
}

.tuser {
    width: 15%;
}

.tdetails {
    width: 85%;
    background-color:#bbd5e4;
    padding-left: 5px;
}

.post-table {
    width: 1200px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 8px;
    position: relative; /* to put quote but at bottom right *//
}

#post-reply-div {
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    display: inline;
}

.avatar-img {
    display: block;
    width: 120px;
    height: 120px;
}
/*.tdetails { white-space: pre-wrap; } */

.post-table td {
    border-collapse: separate; /* allow spacing between cell borders */
    border-spacing: 0 5px;
}

.post-date {
    font-family: courier new;
    font-size: 14px;
}


.thead, .edit-data {
    font-weight: normal;
    border: 1px solid #464138;
    background-color: #666A7A;
}

.thead {
    width: 15%;
    border-right: 0;
}

.edit-data {
    border-left: 0;
}

/* quotes */
.quotable {
    margin-left: 20px;
    border: 0;
    padding: 6;
    border-spacing: 0;
    border-collapse: separate;
}

.qcls {
    border: 1px inset;
    background: #EDE8E0;
}

/* for entity table */
.entity-table {
    width: 800px;
    background: #FFFFFF;
}

.butDiv{
    position: absolute; /* depends on pos:relative of post-table */
    bottom: 0;
    right: 0;
}

.t-pm-sender {
    width: 20%;
}

.t-pm-subject {
    width: 60%;
}

.t-pm-subject:hover {
    background-color: #E9EBF2;
}

.t-pm-sent {
    width: 20%;
}

div h4 {
    display: inline;
}

.user-data {
    margin: 0 auto;
    width: 640px;
}

.mem-div {
    display: inline-block;
}

#mem-pane {
    float: left;
    position: absolute;
    left: 16px;
}

#inbox-table {
    width: 640px;
}

.div-mess {
    text-align: center;
    margin: 0 auto;
    border: 1px solid grey;
}
